@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Şifre Sıfırlama";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <br />
            <br />
            <h5><b>ŞİFRE SIFIRLAMA</b></h5>
            <br />
            <label class="text-danger">@Html.Raw(ViewBag.ErrorReset)</label>
            <br />
            <br />
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="row" style="margin-bottom:5px">
                    <div class="col-lg-3">
                        <label class="login2 float-end"> E-Posta</label>
                    </div>
                    <div class="col-lg-9">
                        @Html.TextBoxFor(model => model.Email, new { @type = "search", @class = "form-control", @style = "font-weight: bold;font-size:12px !Important", @autocomplete = "off" })
                    </div>
                </div>
                <div class="row" style="margin-bottom:5px">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-success float-end" style="margin:5px"><i class="fa fa-lock-open"></i> Sıfırla</button>
                        <a href="/Account/Login" class="btn btn-warning float-end" style="margin:5px"><i class="fa fa-backward"></i> Vazgeç</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}