@{
    ViewBag.Title = "Yeni Kullanıcı Oluştur";
}
<a href="/Home/Index" class="btn btn-danger"> Ana Sayfa</a>
<br />
<br />
<h5>Yeni kullanıcı oluşturulmuştur. E-postayı onaylamak için mail adresinizi kontrol ediniz.</h5>