@model Ntl_SubSector
@{
    ViewBag.Title = "Yeni Alt Sektör";
}
@using (Html.BeginForm("SaveSubSector", "SubSectors", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="pagetitle">
        <h1>Yeni Alt Sektör</h1>
        <br />
        <br />
        <button class="btn btn-success float-end" type="submit" style="width:max-content"><i class="fa fa-save"></i> Ekle</button>
        <a href="/SubSectors/AllSubSectors" class="btn btn-warning float-end" style="margin-right:10px"><i class="fa fa-backward"></i> Vazgeç</a>
        <br />
        <br />
    </div>
    <section class="dashboard">
        <div class="row" style="border:2px solid gray">
            <div class="col-lg-12">
                <div class="row table-responsive">
                    <div class="col-lg-12" style="margin:5px 0px 5px 0px">
                        <table style="width:100%">
                            <tr>
                                <td style="width:10%"><b>Kod</b></td>
                                <td style="width:35%">
                                    @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @style = "font-size:12px!Important", @readonly = "readonly" })
                                </td>
                                <td style="width:10%"></td>
                                <td style="width:10%"><b>Alt Sektör Adı</b></td>
                                <td style="width:35%">
                                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @style = "font-size:12px!Important", @required = "required", @autocomplete = "off" })
                                </td>
                            </tr>
                            <tr>
                                <td style="width:10%"><b>Sektör</b></td>
                                <td style="width:35%">
                                    @Html.DropDownListFor(model => model.SectorId, new SelectList(ViewBag.Sectors, "Id", "Description"), "Sektör Seçiniz", new { @class = "form-control form-select", @style = "font-size:12px!Important", @required = "required" })
                                </td>
                                <td></td>
                                <td><b></b></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
}